/* .container{
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.leftpage{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.rightpage{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
} */